.teamsFooter{
  height: 33px;
  background:#F3F3F3;
}
.footerHeader{
  padding: 8px 0 8px 24px;
  font-size: 12px;
  font-weight: 600;
}
.footerCell{
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}
